<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/index.css"
    />
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="mx-auto" style="width: 650px"><title>ApartMatch</title></div>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
    h1 {
      font-family: 'Righteous', sans-serif;
      font-size: 100px;
    }
  </style>
  </head>
  <body>
    <div class="mx-auto container-box" style="width: 650px">
      <h1>ApartMatch</h1>
      <h2>Apartment Preferences</h2>
      <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
          <label for="minPrice">Minimum Price:</label>
          <input
            type="range"
            class="form-control-range"
            id="minPrice"
            name="minPrice"
            min="0"
            max="5000"
            step="50"
          />
          <span id="minPriceValue">0</span> CAD
        </div>
        <div class="form-group">
          <label for="maxPrice">Maximum Price:</label>
          <input
            type="range"
            class="form-control-range"
            id="maxPrice"
            name="maxPrice"
            min="0"
            max="5000"
            step="50"
          />
          <span id="maxPriceValue">8000</span> CAD
        </div>

        <div class="dropdown">
          <div class="dropbtn">Beds</div>
          <div class="dropdown-content">
            <a href="#" data-value="ONE">1</a>
            <a href="#" data-value="ONE_PLUS">1+</a>
            <a href="#" data-value="TWO">2</a>
            <a href="#" data-value="TWO_PLUS">2+</a>
            <a href="#" data-value="THREE">3</a>
            <a href="#" data-value="THREE_PLUS">3+</a>
            <a href="#" data-value="FOUR">4</a>
            <a href="#" data-value="FOUR_PLUS">4+</a>
            <a href="#" data-value="FIVE">5</a>
            <a href="#" data-value="FIVE_PLUS">5+</a>
          </div>
          <span id="beds" name="beds"></span>
        </div>

        <div class="dropdown">
          <div class="dropbtn">Baths</div>
          <div class="dropdown-content">
            <a href="#" data-value="ONE">1</a>
            <a href="#" data-value="ONE_PLUS">1+</a>
            <a href="#" data-value="TWO">2</a>
            <a href="#" data-value="TWO_PLUS">2+</a>
            <a href="#" data-value="THREE">3</a>
            <a href="#" data-value="THREE_PLUS">3+</a>
            <a href="#" data-value="FOUR">4</a>
            <a href="#" data-value="FOUR_PLUS">4+</a>
            <a href="#" data-value="FIVE">5</a>
            <a href="#" data-value="FIVE_PLUS">5+</a>
          </div>
          <span id="baths" name="baths"></span>
        </div>

        <form action="#" method="post">
          <div class="form-group">
            <label for="tags">Description</label>
            <textarea
                class="form-control"
                id="tags"
                name="tags"
                placeholder="I want my dream home to have..."
                rows="4"
              ></textarea>
          </div>
          <span id="query"></span>
        </form>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      // JavaScript to display the slider values dynamically
      const minPriceSlider = document.getElementById("minPrice");
      const maxPriceSlider = document.getElementById("maxPrice");
      const minPriceValue = document.getElementById("minPriceValue");
      const maxPriceValue = document.getElementById("maxPriceValue");

      // Initialize the values to their center values
      minPriceValue.textContent = minPriceSlider.value;
      maxPriceValue.textContent = maxPriceSlider.value;

      minPriceSlider.oninput = function () {
        minPriceValue.textContent = this.value;
      };

      maxPriceSlider.oninput = function () {
        maxPriceValue.textContent = this.value;
      };
    </script>
  </body>
</html>
