<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="mx-auto" style="width: 650px"><title>ApartMatch</title></div>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Righteous"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <style>
      h1 {
        font-family: "Righteous", sans-serif;
        font-size: 100px;
        text-align: center;
      }
      h2 {
        font-family: 'Nunito', sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="mx-auto container-box" style="width: 650px">
      <h1>ApartMatch</h1>
      <h2>Preferences</h2>
      <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
          <label for="minPrice">Minimum Price:</label>
          <input
            type="range"
            class="form-control-range"
            id="minPrice"
            name="minPrice"
            min="0"
            max="10000"
            step="100"
            value="0"
          />
          $<span id="minPriceValue">0</span>
        </div>
        <div class="form-group">
          <label for="maxPrice">Maximum Price:</label>
          <input
            type="range"
            class="form-control-range"
            id="maxPrice"
            name="maxPrice"
            min="0"
            max="10000"
            step="100"
            value="10000"
          />
          $<span id="maxPriceValue">5000</span>
        </div>

        <div class="form-group">
          <p>Select the Number of Bedrooms:</p>
          <select class="form-select" id="beds" name="beds">
            <option value="ANY">Any</option>
            <option value="ONE">1 Bedroom</option>
            <option value="ONE_PLUS">1+ Bedrooms</option>
            <option value="TWO">2 Bedrooms</option>
            <option value="TWO_PLUS">2+ Bedrooms</option>
            <option value="THREE">3 Bedrooms</option>
            <option value="THREE_PLUS">3+ Bedrooms</option>
            <option value="FOUR">4 Bedrooms</option>
            <option value="FOUR_PLUS">4+ Bedrooms</option>
            <option value="FIVE">5 Bedrooms</option>
            <option value="FIVE_PLUS">5+ Bedrooms</option>
          </select>

          <p>Select the Number of Bathrooms:</p>
          <select class="form-select" id="baths" name="baths">
            <option value="ANY">Any</option>
            <option value="ONE">1 Bathroom</option>
            <option value="ONE_PLUS">1+ Bathrooms</option>
            <option value="TWO">2 Bathrooms</option>
            <option value="TWO_PLUS">2+ Bathrooms</option>
            <option value="THREE">3 Bathrooms</option>
            <option value="THREE_PLUS">3+ Bathrooms</option>
            <option value="FOUR">4 Bathrooms</option>
            <option value="FOUR_PLUS">4+ Bathrooms</option>
            <option value="FIVE">5 Bathrooms</option>
            <option value="FIVE_PLUS">5+ Bathrooms</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tags">Description</label>
          <textarea
            class="form-control"
            id="tags"
            name="tags"
            placeholder="I want my dream home to have..."
            rows="4"
          ></textarea>
        </div>
        <span id="query"></span>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      // JavaScript to display the slider values dynamically
      const minPriceSlider = document.getElementById("minPrice");
      const maxPriceSlider = document.getElementById("maxPrice");
      const minPriceValue = document.getElementById("minPriceValue");
      const maxPriceValue = document.getElementById("maxPriceValue");

      // Initialize the values to their center values
      minPriceValue.textContent = minPriceSlider.value;
      maxPriceValue.textContent = maxPriceSlider.value;

      minPriceSlider.oninput = function () {
        minPriceValue.textContent = this.value;
      };

      maxPriceSlider.oninput = function () {
        maxPriceValue.textContent = this.value;
      };
    </script>
  </body>
</html>
